$custom_color: #a0c55e;

$desktop-menu-hover_color: #c4a7d2;
$desktop-menu_line_color: #c4a7d2;

$label_sale_bg: #c4a7d2;

$shop-features-style-3-1_bg: #a0c55e;
$shop-features-style-3-1-center_bg: #c4a7d2;
$shop-features-style-3-1-first_bg: #98d1e5;

@import "_variables-dark.scss";
@import "_mixins.scss";

@import "_style-all.scss";