/* gallery rtl */

.filters {
  .filters-label-count {
    display: inline-block;
    padding-left: 0;
    padding-right: 10px;
  }
}

.gallery--style-1 .gallery-item {
  float: right;
  &-caption {
    left: auto;
    right: 0;
  }
}

.gallery--style-2 .gallery-item {
  float: right;
}

.gallery-item-links {
  left: auto;
  right: 0;
}